@model IEnumerable<SportsPro.Models.Incident>

@{
    ViewData["Title"] = "Incidents Manager";
}

<h1>Incidents Manager</h1>

<p>
    <a asp-action="Create">Add Incident</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Technician)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DateOpened)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DateClosed)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Technician.Email)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DateOpened)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DateClosed)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.IncidentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IncidentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IncidentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
