@model IEnumerable<SportsPro.Models.Technician>

@{
    ViewData["Title"] = "Technician Manager";
}

<h1>Technician Manager</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">Add Technician</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TechnicianID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TechnicianID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TechnicianID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
